<div class="h-full grid overflow-hidden place-items-center bg-[#91a8d5]">
  <div class="img"> <img srcset="/assets/law2.png, /assets/law2m.png 640w" src="/assets/law2.png" alt="" />
    <div class="text-white z-10 font-semibold text-sm md:text-base top-[20%] md:top-1/4 absolute block w-[calc(100vw-50px)]  md:w-[700px] left-[20px] md:left-[20%] ">
      <h1 class="text-2xl md:text-4xl mb-4" >Responsabilidad Civil</h1>
      <p>Si sufriste un accidente de tránsito como conductor, pasajero o peatón, tendrás derecho a ser indemnizado por los daños que padeciste. No te dejes engañar por las compañías de seguros, que a menudo intentan ofrecerte montos bajos e insuficientes. Estamos aquí para ayudarte a reclamar la indemnización justa que mereces por los daños materiales en tu vehiculo y a tu salud.</p>
    </div>
  </div>
  </div>
