<div class="sm:flex font-montserrat">
  <p class="sm:flex-1 p-4 sm:p-8 text-blue font-bold"><b>ESTUDIO ART</b> es un estudio jurídico integral que cuenta con un equipo de profesionales especializados en diversas áreas del Derecho. Nuestra misión es ofrecer soluciones efectivas y personalizadas que reflejan la confianza que nuestros clientes depositan en nosotros.</p>
  <p class="sm:flex-1 p-4 sm:p-8 text-gray">Con un enfoque innovador y proactivo, trabajamos para brindar a nuestros clientes una estrategia legal sólida que se adapta a sus necesidades específicas. Nuestra reputación se basa en la honestidad y la eficiencia, características que nos permiten abordar cada caso con un alto nivel de compromiso y dedicación. <br>
    Contamos con una extensa trayectoria en la resolución de casos, tanto en el ámbito judicial como extrajudicial, abarcando aspectos tanto humanos como profesionales. Esto nos permite ofrecer respuestas adecuadas y apropiadas a los desafíos que enfrentan nuestros clientes.
    </p>
</div>
