<div class="h-full grid overflow-hidden place-items-center bg-[#91a8d5]">
  <div class="img"> <img srcset="/assets/law2.png, /assets/law2m.png 640w" src="/assets/law2.png" alt="" />
    <div class="text-white z-10 font-semibold text-sm md:text-base top-[20%] md:top-1/4 absolute block w-[calc(100vw-50px)]  md:w-[700px] left-[20px] md:left-[20%] ">
      <h1 class="text-2xl md:text-4xl mb-4" >Derecho previsional</h1>
      <p>Si buscas jubilarte o acceder a una pensión, es fundamental que conozcas tus derechos previsionales. Estamos aquí para ayudarte a gestionar tu trámite y asegurarnos de que recibas los beneficios que te corresponden. <br>
        Nuestro equipo de abogados especializados en Derecho de la Seguridad Social cuenta con una vasta experiencia. Te brindaremos asesoramiento en la planificación de tu retiro, en los trámites necesarios ante las autoridades y en los reclamos que debas realizar si no estás percibiendo tus haberes adecuadamente. Juntos analizaremos tu situación para garantizar que obtengas la jubilación o pensión justa que merecés.
        </p>
      </div>
    </div>
    </div>
