<div class="h-full grid overflow-hidden place-items-center bg-[#91a8d5]">
  <div class="img"> <img srcset="/assets/law2.png, /assets/law2m.png 640w" src="/assets/law2.png" alt="" />
    <div class="text-white z-10 font-semibold text-sm md:text-base top-[20%] md:top-1/4 absolute block w-[calc(100vw-50px)]  md:w-[700px] left-[20px] md:left-[20%] ">
      <h1 class="text-2xl md:text-4xl mb-4" >Despidos</h1>
      <p>Si fuiste despedido sin causa o de manera injusta, ya sea por motivos de discriminación, durante una licencia por maternidad, por enfermedad, o cualquier otra licencia reconocida por la ley, tenés derecho a reclamar una indemnización. <br>
      Es fundamental contar con asesoramiento desde un primer momento ya que el intercambio de telegramas y cartas documento debe ser llevado a cabo por abogados para garantizar una estrategia efectiva que logre resultados positivos. Cualquier error en el enfoque del reclamo puede tener consecuencias irreversibles. <br>
      Nuestro equipo de abogados especializados en Derecho Laboral está aquí para orientarte sobre las opciones disponibles, indicarte los pasos a seguir y asegurarte de que obtienes la indemnización que te corresponde.
        </p>
      </div>
    </div>
    </div>
