<div class="h-full  overflow-hidden place-items-center bg-[#91a8d5]">
<div class="img"> <img srcset="/assets/law2.png, /assets/law2m.png 640w" src="/assets/law2.png" alt="" />
  <div class="text-white z-10 font-semibold text-sm md:text-base top-[20%] md:top-1/4 absolute block w-[calc(100vw-50px)]  md:w-[700px] left-[20px] md:left-[20%] ">
    <h1 class="text-2xl md:text-4xl mb-4" >Accidentes de trabajo</h1>
    <p>Si sufriste un accidente en el trabajo, un accidente en el trayecto entre su hogar y su empleo, o si sufre una enfermedad profesional debido a riesgos laborales, tendrá derecho a reclamar una indemnización a su ART. <br>
      Te asignaremos un abogado especializado en Accidentes y Riesgos del Trabajo que te ofrecerá asesoramiento personalizado y responderá todas tus inquietudes. Nos encargaremos de representarte en cada etapa del proceso, gestionando tu reclamo ante la ART o llevando tu caso a la justicia si es necesario. <br>
      Estamos aquí para facilitarte la gestión de tu reclamo de manera rápida y sencilla, asegurándonos de que recibas la indemnización que te corresponde. Nuestro objetivo es que obtengas la compensación que merecés en el menor tiempo posible.
    </p>
  </div>
</div>
</div>
