<div [@init]="init()">
  <img
    class="h-screen min-w-full object-cover bg-purple absolute -z-10"
    src="assets/esp.png"
    alt=""
  />
  <div class="pt-40 pl-6 md:pl-20 md:flex">
    <div id="text" class="text-white font-semibold block w-[calc(100vw-50px)] md:w-[700px] ml-0 md:ml-6">
      <h1 class="text-4xl mb-2">Especializacion</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
        aspernatur nobis illo fugiat doloremque velit ut, iste perspiciatis
        tenetur suscipit consequatur impedit provident voluptatibus eveniet hic
        eos voluptates, sequi facere!
      </p>
    </div>
  </div>
</div>
